<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>89Pips - Guaranteed Pips Earning</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/img/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
  	<div class="container">
  		<div class="row">
  			<div class="one-half column">
  				<h4 class="hero-heading">89Pips - Get Forex signals sent to you via email and SMS for RM100/month.</h4>
          <h5><i>Guaranteed earning.</i></h5>
  				<a class="button button-primary" href="#performance">Look at our performance</a>
  			</div>
  			<div class="one-half column phones">
  				<img class="phone" src="/img/iphone_forex.png">
  				<!-- <img class="phone" src="/img/iphone.png"> -->
  			</div>
  		</div>
  	</div>
  </div>

  <a name="performance"></a>
  <div class="section values">
    <div class="container">
      <h3 class="section-heading">Performance</h3>
  		<table class="u-full-width performance">
        <thead>
          <tr>
            <th>Date</th>
            <th>Currency Pair</th>
            <th>Gain/Loss</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7 JUNE 2016</td>
            <td>EUR/USD<br>USD/JPY<br>GBP/USD<br>USD/CHF</td>
            <td>13<br>-10<br>82<br>46</td>
            <td>131</td>
          </tr>
          <tr>
            <td>6 JUNE 2016</td>
            <td>EUR/USD<br>USD/JPY<br>GBP/USD<br>USD/CHF</td>
            <td>28<br>00<br>66<br>16</td>
            <td>110</td>
          </tr>
          <tr>
            <td>3 JUNE 2016</td>
            <td>EUR/USD<br>USD/JPY<br>GBP/USD<br>USD/CHF</td>
            <td>16<br>31<br>11<br>14</td>
            <td>72</td>
          </tr>
          <tr>
            <td>2 JUNE 2016</td>
            <td>EUR/USD<br>USD/JPY<br>GBP/USD<br>USD/CHF</td>
            <td>24<br>17<br>22<br>14</td>
            <td>77</td>
          </tr>
   
        </tbody>
      </table>
      <a class="button button-primary" href="#subscribe">Convinced? &nbsp;Subscribe To Us Now</a>
  	</div>
  </div>

  <a name="subscribe"></a>
  <div class="section get-help">
  	<div class="container">
  		<h3 class="section-heading">Subscribe</h3>
      <br>
  		<p class="section-description">Start with entering your mobile number.<br>We will send you a 6-digit code to proceed.</p>
      <br>
      <form>
        <label for="mobile">Your mobile number</label>
        <input class="" type="text" placeholder="0164180888" id="mobile">
        <br>
    		<button type="button" class="button button-primary">Done</a>
      </form>
  	</div>
  </div>

  <div class="section categories">
  	<div class="container">
  		<h3 class="section-heading">Responsive Images</h3>
  		<p class="section-description">Skeleton images sit easily in grid with .u-max-full-width class. I suggest exploring solution to serving different images based on device size.</p>
  		<div class="row">
  			<div class="one-half column category">
  				<img class="u-max-full-width" src="/img/placeholder.png">
  			</div>
  			<div class="one-half column category">
  				<img class="u-max-full-width" src="/img/placeholder.png">
  			</div>
  		</div>
  	</div>
  </div>




<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>